@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --color-navbar: #6beeff;
  --color-hover-navbar: #22e1fa;
  --color-text-navbar: #222222;
  --color-submenu-navbar: #6beeff;
  --color-submenu-responsive-navbar: #6beeff;

  --color-boxes-form: rgba(126, 211, 33, 0.3);
  --color-box-verificacion: white;
}

html,
body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 3rem;
  text-shadow: 0 0 30px var(--color-hover-navbar);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  background-color: var(--color-navbar);
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.logo img {
  height: 40px;
  width: auto;
}

.logo {
  color: var(--color-text-navbar);
  font-size: 3rem;
  font-weight: bold;
}

.navigation ul {
  list-style: none;
}

.header .navigation ul li {
  float: left;
  position: relative;
}

.header .navigation ul li a {
  font-size: 20px;
  color: var(--color-text-navbar);
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: all 0.2s ease;
}

.header .navigation ul li a:hover {
  border-radius: 2rem;
  background-color: var(--color-hover-navbar);
}

.header .navigation ul li ul {
  position: absolute;
  right: 0;
  width: 200px;
  background-color: var(--color-submenu-navbar);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;

  display: none;
}

.header .navigation ul li ul li a {
  font-size: 15px;
  text-transform: capitalize;
}

.header .navigation ul li ul li ul {
  position: absolute;
  top: 0;
  right: 300px;
}

.header .navigation ul li ul li {
  width: 100%;
}

.header .navigation ul li:hover>ul {
  display: initial;
}

.header .navigation ul li ul li span {
  float: right;
  color: white;
  background-color: rgb(2, 46, 167);
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
}

#toggle,
.header label {
  font-size: 3rem;
  color: var(--color-text-navbar);
  cursor: pointer;
  display: none;

}


img {
  width: 45px;
  height: 35px;
}

main {
  color: black;
  width: 100vw;
  max-width: 100%;
}

section {
  margin-top: 110px;
  width: 91vw;
  height: fit-content;
  min-height: 140vh;
  margin: 50px;
  margin-top: 100px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-left: 30px;
}

button {
  font-weight: bold;
  padding: 0.5em;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
}

button:hover {
  background-color: var(--color-hover-navbar);
  color: #222222;
}

ul {
  border-radius: 1rem;
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
}

.item-list {
  list-style-type: none;
  padding: 0;
}



#Inicio {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#text {
  text-align: center;
  padding-left: 9vw;
}

#logoinicio {
  width: 1000px;
  text-align: end;
}

#logoinicio img {
  width: auto;
  height: 500PX;
}

footer {
  font-size: 15px;
  height: 80px;
  text-align: center;
  background-color: #f1eded;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 0.5em;
  margin-top: 10px;
}

h2 {
  width: 100%;
  text-align: center;
}
/* ESTILOS DEL INICIO */

#inicio-container {
  display: flex;
  align-items: center;
}

#logo-negro {
  width: 44vw;
  height: 31vw;
  margin-top: 90px;
  margin-right: 20px;
}

#bienvenidos-texto {
  max-width: 600px;
}

#bienvenidos-texto h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

#bienvenidos-texto p {
  font-size: 1.2em;
  margin-bottom: 20px;
}
/* ESTILOS DE LA QUIENES SOMOS */

#quienes-somos-container {
  text-align: left;
}

#quienes-somos-titulo {
  font-size: 4em;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 30px;
}

#quienes-somos-texto {
  font-size: 1.2em;
  margin-bottom: 20px;
}
#quienes-somos-img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

/* ESTILOS DE LA MISION */
#mision-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#mision-texto-container {
  flex: 1;
}

#mision-titulo {
  margin-bottom: 10px;
  padding-bottom: 60px;
}

#mision-texto {
  font-size: 1.2em;
  text-align: left;
  margin-bottom: 20px;
}

#mision-container img {
  width: 40%;
  height: 10%;
}
/* ESTILOS DE LA VISION */
#vision-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#vision-texto-container {
  flex: 1;
}

#vision-titulo {
  padding-bottom: 60px;
  margin-bottom: 10px;
}

#vision-texto {
  font-size: 1.2em;
  text-align: left;
  margin-bottom: 20px;
}

#vision-container img {
  width: 40%;
  height: 10%;
}

/* ESTILOS DE LOS BOTONES DE INPUT Y LABEL DE FORMULARIOS */
form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 36px;
}

form select {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 36px;
}

form button {
  border-radius: 36px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container form {
  width: 80%;
  margin: auto;
}

/* AGREGAR CUIDADANOS ESTILOS */

#Cuidadanos-form {
  float: left;
  order: 1;
  background: rgba(107, 238, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: auto;
  padding: 30px;
  width: 40%;

}

#lista-Cuidadanos {
  float: right;
  order: 2;
  background: rgba(107, 238, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: auto;
  padding: 30px;
  width: 40%;
}

/*  ESTILOS */

/*  ESTILOS */
div#verificacion-form {
  background: rgba(107, 238, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: auto;
  padding: 30px;
  width: 40%;
}

#search-input-CIUD,
#codigoADNUsuario {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 36px;
}

div#similitud-ADN {
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: var(--color-box-verificacion);
}

/* Media query solo para Estudiantes */

@media screen and (max-width: 1024px) {

  #Estudiantes-form,
  #lista-Estudiantes {
    height: 185vh;
    margin-right: 40px;
    margin-bottom: 50px;
    width: 100%;
  }
}

/* Media query solo para Asignaturas */
@media screen and (max-width: 1024px) {

  #Asignaturas-form,
  #listado-Asignaturas {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 20px auto;
  }
}
@media screen and (max-width: 1024px) {
  .header label {
    display: initial;
  }

  .header {
    padding: 20px 10%;
  }

  .header .navigation {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--color-navbar);
    display: none;
  }

  .header .navigation ul li {
    width: 100%;
  }

  .header .navigation ul li a {
    padding: 8px 30px 8px 10%;
  }

  .header .navigation ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }

  .header .navigation ul li ul li {
    background-color: var(--color-submenu-responsive-navbar);
  }

  .header .navigation ul li ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }


  .header .navigation ul li ul li span {
    padding: 4px 10px;
    font-size: 10px;
  } 

  #toggle:checked ~ .navigation {
    display: block;
  }
  #toggle.fa-times{
    transform:rotate(180deg);
  }
}